html {
    margin: 0;
    height: 100vh;
    font-family: "Verdana";
    font-size: 16px;
    font-weight: bold;
    background-color: #29262A;
}

body {
    margin: auto;
    padding-bottom: 10px;
    min-height: 100%;
    width: 80%;
    background-color: #2D2A2E;
}

#popup {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
}

#popup-buttons {
    position: absolute;
    top: 10%;
    right: 20%
}

#iframe-close, #iframe-in-tab {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 2px;
    display: inline-block;
    text-align: center;
}

#iframe-close {
    background-color: rgb(253, 81, 104);
    border: darkred 2px solid;
}

#iframe-in-tab {
    background-color: rgb(114, 255, 71);
    border: green 2px solid;
}

#iframe-close:hover {
    background-color: rgb(252, 178, 188);
    border: darkred 2px solid;
}

#iframe-in-tab:hover {
    background-color: rgb(185, 252, 165);
    border: green 2px solid;
}

#game-screen {
    width: 60%;
    height: 80%;
    display: none;
}

iframe {
    border-width: 2px;
    border-style: solid;
    border-color: #565158;
    background-color: #0f0e0f;
    padding: 8px;
}

h3 {
    text-align: center;
    color: #C5F761;
}

a:link, a:visited, a:active {
    text-decoration: none;
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: solid #363237 1px;
    color: #565158;
}

a:hover {
    background-color: #363237;
    color: #B873B8;
}

#header {
    background-image: url(b278e8be6d8874e315a6f5277eb24a9c.jpg);
    background-size: cover;
    background-position-y: center;
    height: 20%;
}

#header-overlay {
    background-color: rgba(0, 0, 0, .1);
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 25px;
}

#logo {
    background-image: url(9f591f9552444e1ce793b4f83bee86e3.jpeg);
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    border: solid #565158 1px;
    height: 64px;
    width: 64px;
    animation: 6s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s infinite slidein;
}

@keyframes slidein {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.header-title {
    background-color: #29262A;
    border-radius: 5px;
    text-align: center;
    display: block;
    border: solid #565158 1px;
    color: #FFFF00;
}

#title-left {
    padding: 10px 5px 10px 20px;
}

#title-right {
    padding: 10px 20px 10px 5px;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    body {
        width: 80%;
    }
}
